USE [master]
GO
/****** Object:  Database [医院管理系统]    Script Date: 04/26/2016 01:16:12 ******/
CREATE DATABASE [医院管理系统] ON  PRIMARY 
( NAME = N'医院管理系统', FILENAME = N'D:\MSSQL DATA\医院管理系统.mdf' , SIZE = 2432KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'医院管理系统_log', FILENAME = N'D:\MSSQL DATA\医院管理系统_log.LDF' , SIZE = 6912KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [医院管理系统].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [医院管理系统]
GO
/****** Object:  User [ASPNET]    Script Date: 04/26/2016 01:16:12 ******/
CREATE USER [ASPNET] WITH DEFAULT_SCHEMA=[ASPNET]
GO
/****** Object:  Schema [ASPNET]    Script Date: 04/26/2016 01:16:12 ******/
CREATE SCHEMA [ASPNET] AUTHORIZATION [ASPNET]
GO
/****** Object:  Table [dbo].[nanbing]    Script Date: 04/26/2016 01:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nanbing](
	[挂号号码] [nvarchar](10) NOT NULL,
	[姓名] [nvarchar](50) NULL,
	[性别] [nvarchar](10) NULL,
	[年龄] [nvarchar](10) NULL,
	[疑难病况] [nvarchar](500) NULL,
	[过敏药物] [nvarchar](200) NULL,
	[医师] [nvarchar](50) NULL,
	[上传日期] [datetime] NULL,
 CONSTRAINT [PK_nanbing] PRIMARY KEY CLUSTERED 
(
	[挂号号码] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[nanbing] ([挂号号码], [姓名], [性别], [年龄], [疑难病况], [过敏药物], [医师], [上传日期]) VALUES (N'20160001', N'李小兵', N'男', N'18', N'ad', N'asdsad', N'黄海', CAST(0x0000A5B30164E126 AS DateTime))
INSERT [dbo].[nanbing] ([挂号号码], [姓名], [性别], [年龄], [疑难病况], [过敏药物], [医师], [上传日期]) VALUES (N'20160005', N'黄美珠', N'女', N'59', N'213', N'123', N'黄海', CAST(0x0000A5B301663D40 AS DateTime))
INSERT [dbo].[nanbing] ([挂号号码], [姓名], [性别], [年龄], [疑难病况], [过敏药物], [医师], [上传日期]) VALUES (N'20160008', N'朱强', N'男', N'38', N'sdf', N'sdf', N'黄海', CAST(0x0000A5B400F356DC AS DateTime))
/****** Object:  Table [dbo].[jiuzhen]    Script Date: 04/26/2016 01:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jiuzhen](
	[挂号号码] [bigint] NOT NULL,
	[姓名] [nvarchar](40) NULL,
	[年龄] [nvarchar](10) NULL,
	[性别] [nvarchar](10) NULL,
	[住院] [nvarchar](20) NULL,
	[手术] [nvarchar](20) NULL,
	[实验] [nvarchar](20) NULL,
	[诊断病况] [nvarchar](100) NULL,
	[所开药方] [nvarchar](100) NULL,
	[调剂] [nvarchar](100) NULL,
	[复核] [nvarchar](100) NULL,
	[医师] [nvarchar](20) NULL,
	[日期] [datetime] NULL,
 CONSTRAINT [PK_jiuzhen] PRIMARY KEY CLUSTERED 
(
	[挂号号码] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[jiuzhen] ([挂号号码], [姓名], [年龄], [性别], [住院], [手术], [实验], [诊断病况], [所开药方], [调剂], [复核], [医师], [日期]) VALUES (20050010, N'令狐冲', N'22', N'男', N'住院', N'需要手术', N'CT图', N'异己真气反噬', N'吸星大法心法', N'百年竹叶青', N'', N'黄海', CAST(0x0000A4BB00A9B7AA AS DateTime))
INSERT [dbo].[jiuzhen] ([挂号号码], [姓名], [年龄], [性别], [住院], [手术], [实验], [诊断病况], [所开药方], [调剂], [复核], [医师], [日期]) VALUES (20160001, N'1121', N'12', N'女', N'住院', N'需要手术', N'不需要', N'偶没', N'广泛单干户', N'后果搞活', N'合乎', N'黄海', CAST(0x0000A5AD011B43FD AS DateTime))
INSERT [dbo].[jiuzhen] ([挂号号码], [姓名], [年龄], [性别], [住院], [手术], [实验], [诊断病况], [所开药方], [调剂], [复核], [医师], [日期]) VALUES (20160002, N'234', N'23', N'男', N'住院', N'需要手术', N'不需要', N'yti', N'yugi', N'hgf', N'gjf', N'黄海', CAST(0x0000A5AD011A9008 AS DateTime))
/****** Object:  Table [dbo].[imimage]    Script Date: 04/26/2016 01:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imimage](
	[ids] [bigint] IDENTITY(360001,1) NOT NULL,
	[myimdata] [image] NULL,
	[姓名] [nvarchar](20) NULL,
	[性别] [nvarchar](10) NULL,
	[出生年月] [nvarchar](20) NULL,
	[籍贯] [nvarchar](20) NULL,
	[种族] [nvarchar](20) NULL,
	[政治面貌] [nvarchar](20) NULL,
	[学历] [nvarchar](20) NULL,
	[职务] [nvarchar](20) NULL,
	[电话] [nvarchar](20) NULL,
	[邮箱] [nvarchar](20) NULL,
	[家庭地址] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ids] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[imimage] ON
SET IDENTITY_INSERT [dbo].[imimage] OFF
/****** Object:  Table [dbo].[dongtable]    Script Date: 04/26/2016 01:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dongtable](
	[栋号] [nvarchar](10) NOT NULL,
	[层数] [int] NULL,
	[层间数] [int] NULL,
	[间床数] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[栋号] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dongtable] ([栋号], [层数], [层间数], [间床数]) VALUES (N'b1', 5, 10, 1)
INSERT [dbo].[dongtable] ([栋号], [层数], [层间数], [间床数]) VALUES (N'b2', 4, 2, 1)
INSERT [dbo].[dongtable] ([栋号], [层数], [层间数], [间床数]) VALUES (N'b3', 2, 5, 1)
/****** Object:  Table [dbo].[guahao]    Script Date: 04/26/2016 01:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guahao](
	[挂号号码] [bigint] IDENTITY(20050001,1) NOT NULL,
	[姓名] [nvarchar](40) NULL,
	[年龄] [nvarchar](10) NULL,
	[性别] [nvarchar](10) NULL,
	[类型] [nvarchar](20) NULL,
	[挂号费用] [nvarchar](10) NULL,
	[病历] [nvarchar](10) NULL,
	[地址] [nvarchar](50) NULL,
	[日期] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[挂号号码] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[guahao] ON
INSERT [dbo].[guahao] ([挂号号码], [姓名], [年龄], [性别], [类型], [挂号费用], [病历], [地址], [日期]) VALUES (20050010, N'令狐冲', N'22', N'男', N'急诊', N'自费', N'要病历', N'华山之巅', CAST(0x0000A4BB00A6FC55 AS DateTime))
INSERT [dbo].[guahao] ([挂号号码], [姓名], [年龄], [性别], [类型], [挂号费用], [病历], [地址], [日期]) VALUES (20050011, N'', N'', N'', N'普通', N'', N'', N'', CAST(0x0000A5F30188FDE0 AS DateTime))
SET IDENTITY_INSERT [dbo].[guahao] OFF
/****** Object:  Table [dbo].[bedpeople]    Script Date: 04/26/2016 01:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bedpeople](
	[挂号号码] [nvarchar](10) NOT NULL,
	[床号] [nvarchar](20) NOT NULL,
	[姓名] [nvarchar](20) NULL,
	[性别] [nvarchar](10) NULL,
	[年龄] [nvarchar](10) NULL,
	[级别] [nvarchar](10) NULL,
	[负责人] [nvarchar](50) NULL,
	[进出实况] [nvarchar](20) NULL,
 CONSTRAINT [PK__bedpeople__78B3EFCA] PRIMARY KEY CLUSTERED 
(
	[挂号号码] ASC,
	[床号] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[bedpeople] ([挂号号码], [床号], [姓名], [性别], [年龄], [级别], [负责人], [进出实况]) VALUES (N'20050010', N'b31011', N'令狐冲', N'男', N'22', N'高级', N'12', N'进院')
/****** Object:  Table [dbo].[useinfo]    Script Date: 04/26/2016 01:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[useinfo](
	[useid] [nvarchar](20) NOT NULL,
	[usename] [nvarchar](20) NULL,
	[pwd] [nvarchar](20) NULL,
	[sex] [nvarchar](2) NULL,
	[addr] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[useid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[useinfo] ([useid], [usename], [pwd], [sex], [addr], [phone]) VALUES (N'111', N'黄海', N'111', N'男', N'福州', N'111')
INSERT [dbo].[useinfo] ([useid], [usename], [pwd], [sex], [addr], [phone]) VALUES (N'222', N'222', N'222', N'男', N'222', N'2222')
INSERT [dbo].[useinfo] ([useid], [usename], [pwd], [sex], [addr], [phone]) VALUES (N'333', N'111', N'333', N'男', N'13', N'123')
/****** Object:  StoredProcedure [dbo].[jzzhao]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[jzzhao]

as
select 挂号号码, 姓名, 年龄, 性别, 住院, 手术, 实验, 诊断病况, 所开药方, 调剂, 复核, 医师, 日期 from jiuzhen
GO
/****** Object:  StoredProcedure [dbo].[jz]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[jz]    ----显示全部的详细信息
@id int
as
select 挂号号码, 姓名, 年龄, 性别, 住院, 手术, 实验, 诊断病况, 所开药方, 调剂, 复核, 医师, 日期 from jiuzhen where 挂号号码=@id
GO
/****** Object:  StoredProcedure [dbo].[jiuzhen1]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[jiuzhen1]--就诊存储过程
@挂号号码 bigint, --FOREIGN KEY references guahao(挂号号码),
@姓名 nvarchar(40),-- FOREIGN KEY references guahao(姓名),
@年龄 nvarchar(10), --FOREIGN KEY references guahao(年龄),
@性别 nvarchar(10), --FOREIGN KEY references guahao(性别),
@住院 nvarchar(20),
@手术 nvarchar(20),
@实验 nvarchar(20),
@诊断病况 nvarchar(100),
@所开药方 nvarchar(100),
@调剂 nvarchar(100),
@复核 nvarchar(100),
@医师 nvarchar(20)
as 
insert into jiuzhen(挂号号码, 姓名, 年龄, 性别, 住院, 手术, 实验, 诊断病况, 所开药方, 调剂, 复核, 医师)
values(@挂号号码, @姓名, @年龄, @性别, @住院, @手术, @实验, @诊断病况, @所开药方, @调剂, @复核, @医师)
GO
/****** Object:  StoredProcedure [dbo].[bedgua]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[bedgua]  -----住院查找病人挂号的信息
as
select 挂号号码, 姓名, 性别,年龄,日期 from guahao
GO
/****** Object:  StoredProcedure [dbo].[allpepole]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[allpepole]
as
select 挂号号码, 床号, 姓名, 性别, 年龄, 级别,进出实况 from bedpeople
GO
/****** Object:  StoredProcedure [dbo].[zhuyuan]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[zhuyuan]
as
select 床号, 挂号号码, 姓名, 性别, 年龄, 级别, 负责人,进出实况 from bedpeople where 挂号号码='空'
GO
/****** Object:  StoredProcedure [dbo].[zhuy]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[zhuy]   ----绑定医生
as
select 姓名 from imimage where 职务='护士'
GO
/****** Object:  StoredProcedure [dbo].[z6]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[z6]
@num nvarchar(20)
as
delete from guahao where 挂号号码=@num
GO
/****** Object:  StoredProcedure [dbo].[z5]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[z5]
@num nvarchar(20)
as
delete from bedpeople where 挂号号码=@num
GO
/****** Object:  StoredProcedure [dbo].[z4]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[z4]                      
@num nvarchar(10)
as
if len(@num) <>0
Set @num='%'+@num+'%'
else  
set @num='%'

select * from bedpeople where 挂号号码 like @num
GO
/****** Object:  StoredProcedure [dbo].[z3]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[z3]
@id int
as
select 挂号号码, 床号, 姓名, 性别 from bedpeople where 挂号号码=@id
GO
/****** Object:  StoredProcedure [dbo].[z2]    Script Date: 04/26/2016 01:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[z2]
as
select * from bedpeople
GO
/****** Object:  StoredProcedure [dbo].[z1]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[z1]
as
select 挂号号码, 姓名, 年龄, 性别 from guahao
GO
/****** Object:  StoredProcedure [dbo].[ysheng]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ysheng]   ----绑定医生
as
select 姓名 from imimage where 职务='医生'
GO
/****** Object:  StoredProcedure [dbo].[xiangxi]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[xiangxi]    ----修改把全全部的信息读入，全部显示
@id int
as
select ids,  姓名, 性别, 出生年月, 籍贯, 种族, 政治面貌, 学历, 职务, 电话, 邮箱, 家庭地址 from imimage where ids=@id
GO
/****** Object:  Table [dbo].[useright]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[useright](
	[useid] [nvarchar](20) NOT NULL,
	[rights] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[useid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[useright] ([useid], [rights]) VALUES (N'111', N'挂号')
INSERT [dbo].[useright] ([useid], [rights]) VALUES (N'222', N'就诊')
INSERT [dbo].[useright] ([useid], [rights]) VALUES (N'333', N'床位分配')
/****** Object:  StoredProcedure [dbo].[update1]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[update1]
 @useid nvarchar(20),
 @pwd   nvarchar(20)
as
update useinfo
set pwd=@pwd where useid=@useid
GO
/****** Object:  Table [dbo].[bednum]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bednum](
	[床号] [nvarchar](20) NULL,
	[栋号] [nvarchar](10) NULL,
	[进出实况] [nvarchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[bednum] ([床号], [栋号], [进出实况]) VALUES (N'b11011', N'b1', N'进院')
INSERT [dbo].[bednum] ([床号], [栋号], [进出实况]) VALUES (N'b11021', N'b1', N'进院')
INSERT [dbo].[bednum] ([床号], [栋号], [进出实况]) VALUES (N'b11031', N'b1', N'出院')
GO
print 'Processed 100 total records'
/****** Object:  StoredProcedure [dbo].[guafill]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[guafill]
as
select * from guahao
GO
/****** Object:  StoredProcedure [dbo].[gh]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[gh]    ----显示全部的详细信息
@id int
as
select 挂号号码, 姓名, 年龄, 性别 from guahao where 挂号号码=@id
GO
/****** Object:  StoredProcedure [dbo].[gai11]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[gai11]    ----显示全部的详细信息
@id nvarchar(20)
as
select useid, usename, pwd, sex, addr, phone from useinfo where useid=@id
GO
/****** Object:  StoredProcedure [dbo].[del]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[del]-----医生信息的删除
@id int
as
delete from imimage where ids=@id
GO
/****** Object:  StoredProcedure [dbo].[hh1]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[hh1]                               --全部查找
as
select * from imimage
GO
/****** Object:  StoredProcedure [dbo].[guahaocz]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[guahaocz]                         --医生里的查找
@sel nvarchar(20),
@name nvarchar(50)
as
if len(@sel) <>0
Set @sel='%'+@sel+'%'
else  
set @sel='%'
if len(@name) <>0
Set @name='%'+@name+'%'
else  
set @name='%'
select * from guahao where 挂号号码 like @sel and 姓名 like @name
GO
/****** Object:  StoredProcedure [dbo].[guahao1]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[guahao1]   --挂号
@name nvarchar(40),              
@age nvarchar(10),
@sex nvarchar(10),
@xing nvarchar(20),
@money nvarchar(10),
@bingli nvarchar(10),
@add nvarchar(50)
as
insert into guahao(姓名, 年龄, 性别, 类型,挂号费用, 病历, 地址)
values(@name,@age,@sex,@xing,@money,@bingli,@add)
GO
/****** Object:  StoredProcedure [dbo].[selpe]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selpe]     ----病人住院模糊查找
(
@name nvarchar(20),
@num nvarchar(10),
@进出实况 nvarchar(20)
)
as
if len(@name) <>0
Set @name='%'+@name+'%'
else
set @name='%'
 if len(@num) <>0
Set @num='%'+@num+'%'
else
set @num='%'
select 挂号号码, 床号, 姓名, 性别, 年龄, 级别,进出实况 from bedpeople where  姓名 like @name and 挂号号码 like @num and 进出实况=@进出实况
GO
/****** Object:  StoredProcedure [dbo].[selnan1]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selnan1]
as
select 挂号号码, 姓名, 性别, 年龄, 疑难病况,过敏药物, 医师, 上传日期 from nanbing
GO
/****** Object:  StoredProcedure [dbo].[selnan]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[selnan]    ----病人住院模糊查找
@挂号号码 nvarchar(20)
as
if len(@挂号号码) <>0
Set @挂号号码='%'+@挂号号码+'%'
else
set @挂号号码='%'
select 挂号号码, 姓名, 性别, 年龄, 疑难病况,过敏药物,医师, 上传日期 from nanbing where  挂号号码 like @挂号号码
GO
/****** Object:  StoredProcedure [dbo].[seljz]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[seljz]     ----病人住院模糊查找

@挂号号码 nvarchar(20)
as
if len(@挂号号码) <>0
Set @挂号号码='%'+@挂号号码+'%'
else
set @挂号号码='%'
select 挂号号码, 姓名, 年龄, 性别, 住院, 手术, 实验, 诊断病况, 所开药方, 调剂, 复核, 医师, 日期 from jiuzhen where  挂号号码 like @挂号号码
GO
/****** Object:  StoredProcedure [dbo].[selgua]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[selgua]     ----挂号住院模糊查找
@name nvarchar(40)
as
if len(@name) <>0
Set @name='%'+@name+'%'
else  
set @name='%'

select  挂号号码, 姓名, 年龄, 性别,日期 from guahao where  姓名=@name
GO
/****** Object:  StoredProcedure [dbo].[select1]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[select1]                         --医生里的查找
@sel nvarchar(20),
@name nvarchar(50)
as
if len(@sel) <>0
Set @sel='%'+@sel+'%'
else  
set @sel='%'
if len(@name) <>0
Set @name='%'+@name+'%'
else  
set @name='%'
select * from imimage where ids like @sel and 姓名 like @name
GO
/****** Object:  StoredProcedure [dbo].[selall]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selall]
  --@useid nvarchar(20),
  --@usename nvarchar(20),  
  --@sex   nvarchar(2),
  --@addr  nvarchar(50),
  --@phone nvarchar(20)
as
select * from useinfo
GO
/****** Object:  StoredProcedure [dbo].[sel1]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sel1]
--就诊查找病人信息
@挂号号码 nvarchar(20)
as
if len(@挂号号码) <>0
Set @挂号号码='%'+@挂号号码+'%'
else
set @挂号号码='%'
select * from guahao where 挂号号码 like @挂号号码
GO
/****** Object:  StoredProcedure [dbo].[sel]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sel]               --查找注册号码
@sel nvarchar(20)
as
if len(@sel) <>0
Set @sel='%'+@sel+'%'
else  
set @sel='%'
select * from guahao where 姓名 like  @sel
GO
/****** Object:  StoredProcedure [dbo].[nanbing1]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[nanbing1]
@挂号号码 nvarchar(10),
@姓名 nvarchar(50),
@性别 nvarchar(10),
@年龄 nvarchar(10),
@疑难病况 nvarchar(500),
@过敏药物 nvarchar(200),
@医师 nvarchar(50)
as
insert into nanbing(挂号号码,姓名,性别,年龄,疑难病况,过敏药物,医师 )
values(@挂号号码,@姓名,@性别,@年龄,@疑难病况,@过敏药物,@医师)
GO
/****** Object:  StoredProcedure [dbo].[nan2]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[nan2]   ----显示全部的详细信息
@id int
as
select 挂号号码, 姓名, 性别, 年龄, 疑难病况,过敏药物, 医师, 上传日期 from nanbing where 挂号号码=@id
GO
/****** Object:  StoredProcedure [dbo].[myinxiu]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[myinxiu]                ----上传和修改
@put nvarchar(12),
@id int,
@mydata image,
@姓名 nvarchar(20),
@性别 nvarchar(10),
@出生年月 nvarchar(20),
@籍贯 nvarchar(20),
@种族 nvarchar(20),
@政治面貌 nvarchar(20),
@学历 nvarchar(20),
@职务 nvarchar(20),
@电话 nvarchar(20),
@邮箱 nvarchar(20),
@家庭地址 nvarchar(50)
as
if @put='上传'
begin
insert imimage(myimdata,姓名, 性别, 出生年月, 籍贯, 种族, 政治面貌, 学历, 职务, 电话, 邮箱, 家庭地址) values(@mydata,@姓名, @性别, @出生年月, @籍贯, @种族, @政治面貌, @学历, @职务, @电话, @邮箱, @家庭地址)
end
else
if @put='修改'
begin
update imimage
set myimdata=@mydata,姓名=@姓名,性别=@性别,出生年月=@出生年月,籍贯=@籍贯,种族=@种族,政治面貌=@政治面貌,学历=@学历,职务=@职务,电话=@电话,邮箱=@邮箱,家庭地址=@家庭地址
where ids=@id
end
GO
/****** Object:  StoredProcedure [dbo].[myimsel1]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[myimsel1]                              --show.aspx
@ids int
as
select * from imimage where ids = @ids
GO
/****** Object:  StoredProcedure [dbo].[myimin1]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[myimin1]
@mydata image,
@姓名 nvarchar(20),
@性别 nvarchar(10),
@出生年月 nvarchar(20),
@籍贯 nvarchar(20),
@种族 nvarchar(20),
@政治面貌 nvarchar(20),
@学历 nvarchar(20),
@职务 nvarchar(20),
@电话 nvarchar(20),
@邮箱 nvarchar(20),
@家庭地址 nvarchar(50)
as
insert into imimage(myimdata,姓名, 性别, 出生年月, 籍贯, 种族, 政治面貌, 学历, 职务, 电话, 邮箱, 家庭地址)
values(@mydata,@姓名, @性别, @出生年月, @籍贯, @种族, @政治面貌, @学历, @职务, @电话, @邮箱, @家庭地址)
GO
/****** Object:  StoredProcedure [dbo].[mimagai]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[mimagai]
 @useid nvarchar(20),
  @pwd   nvarchar(20),
  @rights nvarchar(40)
as
update useinfo
set pwd=@pwd where useid=@useid
update useright
set rights=@rights where useid=@useid
GO
/****** Object:  StoredProcedure [dbo].[delmima]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[delmima]
@num nvarchar(20)
as
delete from useright where useid=@num
delete  from useinfo where useid=@num
GO
/****** Object:  StoredProcedure [dbo].[chuyuan]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[chuyuan]   ----出院
@床号 nvarchar(20),
@挂号号码 nvarchar(10),
@姓名 nvarchar(20),
@性别 nvarchar(10),
@年龄 nvarchar(10),
@级别 nvarchar(10),
@负责人 nvarchar(50),
@进出实况 nvarchar(20)
as
update bedpeople
set 挂号号码=@挂号号码, 姓名=@姓名, 性别=@性别, 年龄=@年龄, 级别=@级别, 负责人=@负责人, 进出实况=@进出实况
where 床号=@床号
update bednum
set 
进出实况=@进出实况 where 床号=@床号
GO
/****** Object:  StoredProcedure [dbo].[checkpwd]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[checkpwd]
@useid nvarchar(40),
@pwd   nvarchar(50),
@rights nvarchar(40),
@pass  nvarchar(20)  output
 as
  if len(@rights)=0
   begin  --用户名和密码的验证
    Select @pass=useid from useinfo where useid=@useid and pwd=@pwd
     if @pass is null
      Set @pass='Nopasscheck'
   end
  else
   begin  --用户权限的验证
    Select @pass=rights from useright,useinfo
     where useright.useid=@useid and useinfo.pwd=@pwd 
           and rights=@rights 
           and useinfo.useid=useright.useid
    if @pass is null
     Set @pass ='Norights'
  end
GO
/****** Object:  StoredProcedure [dbo].[bedup]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[bedup]
@床号 nvarchar(20),
@挂号号码 nvarchar(10),
@姓名 nvarchar(20),
@性别 nvarchar(10),
@年龄 nvarchar(10),
@级别 nvarchar(10),
@负责人 nvarchar(50),
@进出实况 nvarchar(20)
as
insert into bedpeople(挂号号码, 床号, 姓名, 性别, 年龄, 级别,负责人,进出实况)
values(@挂号号码,@床号,@姓名,@性别,@年龄,@级别,@负责人,@进出实况)
update bednum
set 进出实况=@进出实况 
where 床号=@床号
GO
/****** Object:  StoredProcedure [dbo].[bedin]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[bedin]
--新建床位
@hID nvarchar(10),
@层数 int,
@层间数 int,
@间床数 int
as
insert into dongtable(栋号,层数,层间数,间床数)
values(@hID,@层数,@层间数,@间床数)
declare
@SA int,
@SB int,
@SC int,
@bedID nvarchar(20)
Set @SA=1
while @SA<=@层数
 begin
  Set @SB=1
  while @SB<=@层间数
   begin
   Set @SC=1
   if @SC<=@间床数 
    begin   
if @SB>=10
      Set @bedID=@hID+ltrim(str(@SA))+ltrim(str(@SB))+ltrim(str(@SC))
    else    
      Set @bedID=@hID+ltrim(str(@SA))+'0'+ltrim(str(@SB))+ltrim(str(@SC))
     end   
    insert into bednum(床号,栋号) values(@bedID,@hID)
    Set @SB=@SB+1
   End
  Set @SA=@SA+1
 end
GO
/****** Object:  StoredProcedure [dbo].[tian]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[tian]    ----住院修改前先填充
as
select 床号, 栋号,进出实况 from bednum
GO
/****** Object:  StoredProcedure [dbo].[zy]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[zy]   ----显示全部的详细信息
@id int
as
select 床号, 栋号 from bednum where 床号=@id
GO
/****** Object:  StoredProcedure [dbo].[zhuce]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[zhuce]--=医生注册
  @useid nvarchar(20),
  @usename nvarchar(20),  
  @pwd   nvarchar(20),
  @sex   nvarchar(2),
  @addr  nvarchar(50),
  @rights nvarchar(40),
  @phone nvarchar(20)
as
insert into useinfo(useid, usename, pwd, sex, addr, phone)
values(@useid, @usename, @pwd, @sex, @addr, @phone)
insert into useright(useid, rights)
values(@useid, @rights)
GO
/****** Object:  StoredProcedure [dbo].[zhuce1]    Script Date: 04/26/2016 01:16:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[zhuce1]   ------医生注册
  @usename nvarchar(20),
  @usepwd nvarchar(20),
  @usekebie nvarchar(20),
  @sex nvarchar(2),
  @addre nvarchar(50),
  @phone nvarchar(20)
as
insert into zhuce(usename, usepwd, usekebie, sex, addre, phone)
values(@usename,@usepwd,@usekebie,@sex,@addre, @phone)
GO
/****** Object:  Default [DF__nanbing__上传日期__1BC821DD]    Script Date: 04/26/2016 01:16:14 ******/
ALTER TABLE [dbo].[nanbing] ADD  CONSTRAINT [DF__nanbing__上传日期__1BC821DD]  DEFAULT (getdate()) FOR [上传日期]
GO
/****** Object:  Default [DF__jiuzhen__日期__060DEAE8]    Script Date: 04/26/2016 01:16:14 ******/
ALTER TABLE [dbo].[jiuzhen] ADD  CONSTRAINT [DF__jiuzhen__日期__060DEAE8]  DEFAULT (getdate()) FOR [日期]
GO
/****** Object:  Default [DF__guahao__日期__023D5A04]    Script Date: 04/26/2016 01:16:14 ******/
ALTER TABLE [dbo].[guahao] ADD  DEFAULT (getdate()) FOR [日期]
GO
/****** Object:  Default [DF__bednum__进出实况__7F60ED59]    Script Date: 04/26/2016 01:16:27 ******/
ALTER TABLE [dbo].[bednum] ADD  DEFAULT ('出院') FOR [进出实况]
GO
/****** Object:  ForeignKey [FK__useright__useid__0AD2A005]    Script Date: 04/26/2016 01:16:27 ******/
ALTER TABLE [dbo].[useright]  WITH CHECK ADD FOREIGN KEY([useid])
REFERENCES [dbo].[useinfo] ([useid])
GO
/****** Object:  ForeignKey [FK__bednum__栋号__7E6CC920]    Script Date: 04/26/2016 01:16:27 ******/
ALTER TABLE [dbo].[bednum]  WITH CHECK ADD FOREIGN KEY([栋号])
REFERENCES [dbo].[dongtable] ([栋号])
GO
